@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-white;
}

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    background-color: #000000;
    color: #ffffff;
    scroll-behavior: smooth;
  }
}

@tailwind components;
@tailwind utilities;
